html {
  scroll-padding-top: 50px; /* height of navbar */
}

#navbar {
    overflow: hidden;
    background-color: rgb(188, 230, 247);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    /* line-height: 3em; */
    border-bottom: solid 1px black;
  }

#navbar a {
    color:black;
    font-size: 17px;
    padding: 16px 16px;
    display: block;
    text-align: center;
    text-decoration: none;
    float: left;
}

#navbar a:hover {
    background: black;
    color: rgb(188, 230, 247);
  }

body {
    background-color:aliceblue;
    margin: 0px;
    padding: 0px;
}

h1 {
  font-family: Geneva, Tahoma, sans-serif;
  font-weight: 300;
  font-size: 40px;
  text-align: center;
}

#home {
  height: 750px;
  background-image: url("hawaii.png");
  background-repeat: no-repeat;
  background-position: 50% 15%;
  background-color: rgb(225, 232, 238);
  /* background-color: rgb(149, 228, 220); */
}

#welcome {
  padding-top: 570px;
}

#about {
  /* background-color: #9fd495; */
  height: 650px;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 1px;
}

#projects {
  padding-top: 1px;
  background-color: rgb(225, 232, 238);
  /* background-color: rgb(211, 123, 123); */
}

#contact {
  text-align: center;
  /* height: 650px; */
}

section {
    height: 600px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    /* border-bottom: solid 1px black; */
}

.green-divider {
  height: 50px;
  background-position: center;
  background-size:auto;
  position: relative;
  /* background-image: url("green-pattern.jpg"); */
  background-color: #833131;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

footer {
  height: 150px;
  border-top: solid 1px black;
  background-color: rgb(188, 230, 247);
}